.text-center {
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI';
  font-size: 16px;
}

.green-text {
  color:green;
}

.red-text {
  color:red;
}