<div class="chat-room-container">
  <div class="chat-windows-container">
    <chat-window [ChatRoomId]="ChatRoom?.Id" [SourcePartner]="ChatRoom?.PartnerA" [TargetParnter]="ChatRoom?.PartnerB"></chat-window>
  </div>
  <div class="chat-windows-container">
    <chat-window [ChatRoomId]="ChatRoom?.Id" [SourcePartner]="ChatRoom?.PartnerB" [TargetParnter]="ChatRoom?.PartnerA"></chat-window>
  </div>
</div>
