.chat-partner-container {
  height: 270px;
  max-height: 270px;
  width: 250px;
  max-width: 250px;
  box-sizing: border-box;
}

.chat-partner-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.chat-partner-messages-container {
  border:1px solid #000;
  background-color: #fff;
  color:#000;
  box-sizing: border-box;
  height: 200px;
  max-height: 200px;
  width: 250px;
  max-width: 250px;
  overflow: auto;
  padding:2px
}

.chat-partner-new-message-container {
  width: 250px;
  max-width: 250px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.chat-partner-message-input-text {
  height: 30px;
  border:1px solid #000;
  box-sizing: border-box;
}

.chat-partner-message-input-button {
  height: 30px;
  border:1px solid #000;
  box-sizing: border-box;
  background-color: #fff;
  color:#000;
  cursor: pointer;
}

.chat-partner-message-input-button:disabled {
  border:1px solid #aaa;
  box-sizing: border-box;
  background-color: #fff;
  color:#ccc;
  cursor: not-allowed;
}

.chat-partner-message-date {
  font-size: 0.8rem;
  font-weight: 600;
  padding-right: 2px;
}

.chat-partner-message-sender {
  font-size: 0.8rem;
  font-weight: 600;
  padding-right: 2px;
}

.chat-partner-message-content {
  font-size: 0.9rem;
  font-weight: 400;
}
