<form [formGroup]="chatWindowForm">
  <div class="chat-partner-container">
    <label class="chat-partner-title">{{SourcePartner?.Name}}</label>
    <div class="chat-partner-messages-container">
      <div *ngFor="let message of Messages">
        <span class="chat-partner-message-date">{{this.datepipe.transform(message.Date, 'dd/MM/yyyy HH:mm')}}</span>
        <span *ngIf="message.SourcePartnerId === SourcePartner?.Id; then MeTemplate else YouTemplate"></span>
        <ng-template #MeTemplate><span class="chat-partner-message-sender green-text">Me</span></ng-template>
        <ng-template #YouTemplate><span class="chat-partner-message-sender red-text">You</span></ng-template>
        <span class="chat-partner-message-content">: {{message.Message}}</span>
      </div>
    </div>
    <div class="chat-partner-new-message-container">
      <input type="text" formControlName="message" required class="chat-partner-message-input-text" placeholder="Tapez votre message ici" (keyup)="$event.keyCode == 13 && SendMessage()"  />
      <button class="chat-partner-message-input-button" type="submit" (click)="SendMessage()" [disabled]="!chatWindowForm.valid">Envoyer</button>
    </div>
  </div>
</form>
